name: Compile GCC
on:
  push:
    tags: '*'
    branches: [master]
    paths-ignore:
      - README.md
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 2.5.7
          - 2.5.7-psx
          - 2.6.0
          - 2.6.3
          - 2.6.3-psx
          - 2.7.0
          - 2.7.1
          - 2.7.2
          - 2.7.2.1
          - 2.7.2.2
          - 2.7.2.3
          - 2.8.0
          - 2.8.1
          - 2.91.66
          - 2.95.2
    name: Build GCC ${{ matrix.version }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Build GCC
        run: VERSION=${{ matrix.version }} make
      - name: Create release archive
        shell: bash
        run: |
          cd build-gcc-${{ matrix.version }}
          tar -czvf ../gcc-${{ matrix.version }}.tar.gz *
      - name: Create artifact
        uses: actions/upload-artifact@v3
        with:
          name: gcc-${{ matrix.version }}
          path: gcc-${{ matrix.version }}.tar.gz
      - name: Publish release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            gcc-${{ matrix.version }}.tar.gz
